forecastle:
  labels:
    group: com.stakater.platform
    provider: stakater
    version: "v1.0.68"
  image:
    repository: docker.io/stakater/forecastle
    tag: v2.0.0@sha256:2f0046a58cbdfbe4661dbafc4116ad692d6d7dba136ba60932a56c88238113e4
  deployment:
    replicas: 1
    revisionHistoryLimit: 2
    annotations: {}
  config:
    namespaceSelector:
      any: true
    headerBackground:
    headerForeground:
    title:
    instanceName:
    customApps: {}
  proxy:
    enabled: false
  openshiftOauthProxy:
    enabled: false
    # image: stakater/oauth-proxy:v0.0.2
  service:
    annotations: {}
    expose: "false"
  ingress:
    enabled: false
    annotations: {}
    hosts:
    - host: forecastle.example.com
      paths:
      - /
  route:
    enabled: false
    annotations: {}
    additionalLabels: {}
    host: ""
    port:
      targetPort: http
    wildcardPolicy: None
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Redirect
