schedule: "0 0/12 * * *"
successfulJobsHistoryLimit: 8
failedJobsHistoryLimit: 5
startingDeadlineSeconds: 43200  # 12 hours

image:
  repository: docker.io/rclone/rclone
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.73.1@sha256:c08f5e100e1c4fa4deb1315b56a47c0cc0e765222b7c0834bc93305f2e4d85c0

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

initContainers: []

config: |
  # Rclone Config

toolbox: false  # Run container to be `kubectl exec`-ed into
subCommand: "copy"  # sync, delete, etc
args: []
from: ""
to: ""

volumeMounts: []
volumes: []
